@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.custom-multi-app-page {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #9ea0c8;
    font-family: 'Barlow', sans-serif;
    color: #333333;
}

.custom-multi-app-page h1, 
.custom-multi-app-page h2,
.custom-multi-app-page h3,
.custom-multi-app-page h4,
.custom-multi-app-page h5,
.custom-multi-app-page h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.custom-multi-app-page h1 {
  font-size: 2.5rem;
}

.custom-multi-app-page h2 {
  font-size: 2rem;
}

.custom-multi-app-page h3 {
  font-size: 1.75rem;
}

.custom-multi-app-page h4 {
  font-size: 1.5rem;
}

.custom-multi-app-page h5 {
  font-size: 1.25rem;
}

.custom-multi-app-page h6 {
  font-size: 1rem;
}

.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
  }
  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* IE */
  @-ms-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* Opera and prob css3 final iteration */
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.custom-multi-app-page .custom-app-wrapper {
    background: #d4d7e9;
    border-radius: 10px;
    padding: 57px 70px;
    width: 100%;
    position: relative;
    overflow: hidden;
    /*max-width: 1100px;*/
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.custom-multi-app-page .custom-app-wrapper:before {
    content: '';
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 0;
    background: #c8c9ec;
    position: absolute;
    top: -50px;
    left: -100px;
    -webkit-transform: skew(-23deg, -12deg);
        -ms-transform: skew(-23deg, -12deg);
            transform: skew(-23deg, -12deg);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}

.custom-multi-app-page .custom-app-wrapper>.inner {
    background-color: #f4f4ff;
    border-radius: 20px;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4ff), to(#e5e5f2));
    background-image: -o-linear-gradient(#f4f4ff, #e5e5f2);
    background-image: linear-gradient(#f4f4ff, #e5e5f2);
    width: 100%;
}

.custom-multi-app-page .custom-app-wrapper .top-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.custom-multi-app-page .video-area .video-item,
.custom-multi-app-page .video-area .row-fluid.custom1.custom3 .video-item,
.custom-multi-app-page .video-area .row-fluid.custom1.custom6 .video-item,
.custom-multi-app-page .video-area .row-fluid.custom1.custom5 .video-item {
    width: 33.333%;
    position: relative;
}

.custom-multi-app-page .video-area .row-fluid {
    clear: both;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 20px;
    position: relative;
}

.custom-multi-app-page .video-area .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom6 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom5 .video-item .video-inner {
    position: relative;
    padding-bottom: 32vh !important;
    width: 100% !important;
    height: 100% !important;
}

.custom-multi-app-page .video-area .video-item .video-inner video {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
}

.custom-multi-app-page .screen-open .video-area .video-item .video-inner video {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
}

.custom-multi-app-page .video-area .video-item .video-inner #canvas-wrapper {
    position: unset !important;
}

.custom-multi-app-page .video-area .video-item .video-inner canvas {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    /* -o-object-fit: cover;
    object-fit: cover; */
    max-width: 100%;
}

.custom-multi-app-page .video-area .video-item .video-inner #annotationToolbarContainer {
    z-index: 5001 !important;
}

.custom-multi-app-page .video-area {
    width: 100%;
    padding: 50px;
    position: relative;
    padding-bottom: 100px;
}

.custom-multi-app-page .left-icons-tools {
    background: #fff;
    padding: 20px 0;
    margin-left: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px rgb(223 216 228);
    -webkit-box-shadow: 0px 0px 6px 0px #e7e7f3;
    -ms-box-shadow: 0px 0px 6px 0px rgb(223 216 228);
    -o-box-shadow: 0px 0px 6px 0px rgb(223 216 228);
    max-width: 60px;
    width: 100%;
    align-self: center;
}

.custom-multi-app-page .left-icons-tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-multi-app-page .left-icons-tools ul li {
    padding: 15px 0;
    display: block;
    color: #bbbdc1;
    text-align: center;
}

.custom-multi-app-page .left-icons-tools ul li svg#Capa_1 {
    fill: #bbbdc1;
}

.custom-multi-app-page .custom-multi-app-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
}

.custom-multi-app-page .recording-tools ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-multi-app-page .recording-tools ul li a,
.call-disconnect a {
    background: #fff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.custom-multi-app-page .recording-tools {
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
}

.custom-multi-app-page .recording-tools ul li {
    margin: 0 8px;
}

.custom-multi-app-page .recording-tools ul li a span,
.call-disconnect a span {
    display: inline-block;
    padding: 0 5px;
}

.custom-multi-app-page .recording-tools ul li.call-disconnect span,
.call-disconnect span {
    padding-left: 10px;
    color: #ff001d;
}

.custom-multi-app-page .recording-tools ul li.maximize-btn span {
    color: #9c9c9c;
}

.custom-multi-app-page .left-icons-tools ul li a {
    display: block;
    cursor: pointer;
    text-align: center;
}

.custom-multi-app-page .chat-area {
    background: #fff;
    position: relative;
    border-radius: 15px;
    margin-right: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
}

.custom-multi-app-page .chat-bar-open .chat-area {
    width: 450px;
    margin-right: 30px;
    opacity: 1;
    visibility: visible;
    align-self: flex-start;
    margin: 50px 0;
    margin-right: 30px;
}

.custom-multi-app-page .chat-head a {
    display: inline-block;
    background: #4d0de8;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 10px;
    padding: 3px 13px;
}

.custom-multi-app-page .chat-head a span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.custom-multi-app-page .chat-head a svg {
    vertical-align: middle;
    width: 20px;
    margin-right: 7px;
}

.custom-multi-app-page .chat-area .chat-head {
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 10px 5px;
}

.custom-multi-app-page .chat-area .chat-body {
    padding: 20px;
    max-height: 380px;
    overflow-y: auto;
    height: 100vh;
}

.custom-multi-app-page .chat-textarea .chat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}

.custom-multi-app-page .chat-textarea .chat-item .img img {
    width: 30px;
    height: 30px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    display: block;
    border-radius: 5px;
}

.custom-multi-app-page .chat-textarea .left p {
    margin: 0;
    text-align: left;
}

.custom-multi-app-page .chat-textarea .right p {
    margin: 0;
    text-align: right;
}

.custom-multi-app-page .chat-textarea .left .head p {
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    text-align: left;
}

.custom-multi-app-page .chat-textarea .right .head p {
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    text-align: right;
}

.custom-multi-app-page .chat-textarea .chat-item .img {
    margin-right: 10px;
}

.custom-multi-app-page .chat-textarea .chat-item .message {
    background: #f3f5f9;
    border-radius: 0px 20px 20px 20px;
    overflow: hidden;
    padding: 10px;
}

.custom-multi-app-page .chat-textarea .chat-item .head {
    margin-bottom: 10px;
}

.custom-multi-app-page .chat-textarea .chat-item:last-child {
    margin: 0;
}

.custom-multi-app-page .chat-textarea .chat-item .message p {
    font-size: 13px;
    line-height: normal;
    font-weight: normal;
}


.custom-multi-app-page .chat-textarea .chat-item.right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.custom-multi-app-page .chat-textarea .chat-item.right .message {
    border-radius: 20px 0px 20px 20px;
    background: #4c10e6;
    color: #fff;
}


.custom-multi-app-page .chat-textarea .chat-item.right .img {
    margin-right: 0;
    margin-left: 10px;
}

.custom-multi-app-page .left-icons-tools ul li a svg {
    display: block;
    margin: 0 auto;
}

.custom-multi-app-page .chat-typing-area .message-box {
    position: relative;
    background: #fff;
    border-radius: 10px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 6px 0px rgb(223 216 228);
            box-shadow: 0px 0px 6px 0px rgb(223 216 228);
    max-width: 260px;
    overflow: hidden;
    margin: 0 auto;
    bottom: 10px;
   }

.custom-multi-app-page .chat-typing-area .message-box textarea {
    border: 0;
    resize: none;
    font-family: 'Barlow', sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 0 10px;
    padding-right: 49px;
    outline: 0;
    height: 32px;
    padding-top: 8px;
}

.custom-multi-app-page .chat-typing-area .message-box button.message-submit {
    position: absolute;
    border: 0;
    background: #4d0de8;
    color: #fff;
    border-radius: 7px;
    overflow: hidden;
    padding: 1px 7px;
    display: inline-block;
    top: 5px;
    right: 22px;
    cursor: pointer;
}

.custom-multi-app-page .chat-typing-area .message-box button.message-submit svg {
    width: 15px;
    position: relative;
    top: 1px;
    height: auto;
}

.custom-multi-app-page .recording-tools ul li.menu-icon {
    display: none;
}

.custom-multi-app-page .video-area .video-item .video-caption {
    position: absolute;
    bottom: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #fff;
    padding: 1px 10px;
    font-size: 13px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}


.custom-multi-app-page .video-area .video-item .video-caption p {
    margin: 0;
}

.custom-multi-app-page .video-area .video-item .video-caption svg {
    height: 14px;
    cursor: pointer;
}

.small_video_icon {
    display: flex;
}

.custom-multi-app-page .video-area .row-fluid .call-disconnect {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.custom-multi-app-page .video-area .row-fluid .call-disconnect span {
    margin-left: 4px;
}

.custom-multi-app-page .recording-tools ul li:last-child {
    margin-right: 0;
}

.custom-multi-app-page .recording-tools ul li:first-child {
    margin-left: 0;
}

.custom-multi-app-page .recording-tools ul li:nth-child(2) {
    margin-left: 0;
}

.custom-multi-app-page .participants-area ,
.custom-multi-app-page .settings-area
{
    background: #fff;
    position: relative;
    border-radius: 15px;
    margin-right: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
}

.participant-open .participants-area ,
.settings-open .settings-area
{
    width: 450px;
    margin-right: 30px;
    opacity: 1;
    visibility: visible;
    align-self: flex-start;
    margin: 50px 0;
    margin-right: 30px;
}

.custom-multi-app-page .participants-area .participants-inner ,
.custom-multi-app-page .settings-area .settings-inner
{
    padding: 20px;
    max-height: 420px;
    overflow-y: auto;
    height: 100vh;
}

.custom-multi-app-page .participants-area .participants-item , 
.custom-multi-app-page .settings-area .camera-item ,
.custom-multi-app-page .settings-area .microphone-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
    align-items: center;
}

.participant-img {
    margin-right: 10px;
}

.participant-img img {
    width: 30px;
    height: 30px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    display: block;
    border-radius: 5px;
}

.participant-desc p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
}

.custom-multi-app-page .participants-area .participants-item:last-child,
.custom-multi-app-page .settings-area .camera-item:last-child ,
.custom-multi-app-page .settings-area .camera-item:last-child
{
    margin: 0;
}

.custom-multi-app-page .participants-area .chat-head,
.custom-multi-app-page .settings-area .chat-head 
{

    border-bottom: 2px solid #f5f5f5;
    padding: 10px 10px 5px;
}

.chat-head h3 
{
    margin: 0;
    font-size: 18px;
    line-height: normal;
}

.bottom-btns {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 1;
}

.bottom-btns ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.bottom-btns ul li a {
    background: #fff;
    display: block;
    padding: 5px 12px;
    border-radius: 7px;
    cursor: pointer;
}

.bottom-btns ul li {
    margin: 0 5px;
}

.custom-multi-app-page .video-area .row-fluid.custom1 .video-item {
    width: 100%;
}

.custom-multi-app-page .video-area .row-fluid.custom1 .video-item .video-inner {
    padding-bottom: 64vh !important;
}


.custom-multi-app-page .video-area .row-fluid.custom2 .video-item {
    width: 50%;
}

.custom-multi-app-page .video-area .row-fluid.custom2 .video-item .video-inner {
    padding-bottom: 64vh !important;
}

.custom-multi-app-page .video-area .row-fluid.custom3 .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom3 .video-inner {
    padding-bottom: 64vh !important;
}

.custom-multi-app-page .video-area .row-fluid.custom4 .video-item,
.custom-multi-app-page .video-area .row-fluid.custom1.custom4 .video-inner {
    width: 50%;
}

.custom-multi-app-page .video-area .row-fluid.custom4 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom4 .video-inner {
    padding-bottom: 32vh !important;
}

.custom-multi-app-page .video-area .row-fluid.custom5,
.custom-multi-app-page .video-area .row-fluid.custom1.custom5 {
    justify-content: center;
}

.custom-multi-app-page .video-area .row-fluid.custom1 .video-item {
    display: none;
}

.custom-multi-app-page .video-area .row-fluid.custom1 .video-item.item1 {
    display: block;
}

.custom-multi-app-page .video-area .row-fluid.custom2 .video-item,
.custom-multi-app-page .video-area .row-fluid.custom3 .video-item,
.custom-multi-app-page .video-area .row-fluid.custom4 .video-item,
.custom-multi-app-page .video-area .row-fluid.custom5 .video-item {
    display: none;
}

.custom-multi-app-page .video-area .row-fluid.custom2 .video-item.item1,
.custom-multi-app-page .video-area .row-fluid.custom2 .video-item.item2 {
    display: block;
}

.custom-multi-app-page .video-area .row-fluid.custom3 .video-item.item1,
.custom-multi-app-page .video-area .row-fluid.custom3 .video-item.item2,
.custom-multi-app-page .video-area .row-fluid.custom3 .video-item.item3 {
    display: block;
}

.custom-multi-app-page .video-area .row-fluid.custom4 .video-item.item1,
.custom-multi-app-page .video-area .row-fluid.custom4 .video-item.item2,
.custom-multi-app-page .video-area .row-fluid.custom4 .video-item.item3,
.custom-multi-app-page .video-area .row-fluid.custom4 .video-item.item4 {
    display: block;
}


.custom-multi-app-page .video-area .row-fluid.custom5 .video-item.item1,
.custom-multi-app-page .video-area .row-fluid.custom5 .video-item.item2,
.custom-multi-app-page .video-area .row-fluid.custom5 .video-item.item3,
.custom-multi-app-page .video-area .row-fluid.custom5 .video-item.item4,
.custom-multi-app-page .video-area .row-fluid.custom5 .video-item.item5 {
    display: block;
}

.custom-multi-app-page .screen-open .video-area .row-fluid {
    flex-wrap: wrap;
    border-radius: 0;
}

.custom-multi-app-page .screen-open .video-area .video-item {
    width: auto !important;
    margin-bottom: 10px;
}

.custom-multi-app-page .screen-open .video-area .video-item .video-inner {
    padding-bottom: 10.7vh !important;
    border-radius: 20px;
    overflow: hidden;
}


.screen-open .screen-area {
    width: 80%;
    padding: 20px;
    height: 100%;
    padding-top: 53px;
}

.custom-multi-app-page .screen-open .video-area {
    max-width: 200px;
    padding-left: 0;
    max-height: 521px;
    margin: 50px 0;
    padding-right: 0;
    margin-right: 30px;
    overflow-y: auto;
    padding: 0;
    height: 100vh;
}

.screen-open .screen-area .screen-inner {
    /* padding-bottom: 64vh; */
    width: 100% !important;
    height: 100% !important;
    min-height: auto !important;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-multi-app-page .room-name {
    position: absolute;
    top: 14px;
    left: 140px;
}

.custom-multi-app-page .room-name h4 {
    font-size: 20px;
    line-height: normal;
    margin: 0 !important;
}

.custom-multi-app-page .chat-textarea .chat-item .time {
    font-size: 12px !important;
    line-height: normal;
    letter-spacing: 0;
    font-weight: 400;
}

.custom-multi-app-page .chat-textarea .chat-item.right .head {
    text-align: right;
}

.custom-multi-app-page .participants-area .participants-item {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.custom-multi-app-page .participants-area svg {
    height: 16px;
}

.recording-blink {
    top: 11px;
    right: 50px !important;
    font-size: 20px !important;
    line-height: normal;
}

.custom-multi-app-page .screen-open .video-area .custom1  .video-item .video-inner,
.custom-multi-app-page .screen-open .video-area .custom1.custom2  .video-item .video-inner,
.custom-multi-app-page .screen-open .video-area .custom1.custom3  .video-item .video-inner,
.custom-multi-app-page .screen-open .video-area .custom1.custom4  .video-item .video-inner,
.custom-multi-app-page .screen-open .video-area .custom1.custom5  .video-item .video-inner,
.custom-multi-app-page .screen-open .video-area .custom1.custom6  .video-item .video-inner {
    padding: 0 !important;
    min-width: initial !important;
    min-height: initial !important;
    height: 76px !important;
    width: 110px !important;
    border-radius: 0;
}

.custom-error-bar {
    background-position: 15px;
    background-repeat: no-repeat;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 12px #999;
    color: #fff;
    margin: 0 0 6px;
    opacity: .8;
    overflow: hidden;
    padding: 15px 15px 15px 50px;
    position: relative;
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 20px;
    background-color: #bd362f;
    background-clip: padding-box;
}

.custom-multi-app-page .video-area .row-fluid.custom1 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom2 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom3 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom4 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom5 .video-item .video-inner,
.custom-multi-app-page .video-area .row-fluid.custom1.custom6 .video-item .video-inner {
    min-width: initial !important;
    min-height: initial !important;
}

.custom-multi-app-page .video-area .video-item .spotlight ,
.custom-multi-app-page .video-area .video-item .annotate {
    cursor: pointer;
    margin-right: 10px;
}

.custom-multi-app-page .video-area .video-item .spotlight svg ,
.custom-multi-app-page .video-area .video-item .annotate svg {
    height: 25px;
    color: black !important;
    background-color: white !important;
    border-radius: 50% !important;
}

.custom-multi-app-page .screen-open .screen-inner .spotannotate .remove-annotate svg,
.custom-multi-app-page .screen-open .screen-inner .spotannotate .remove-spotlight svg{
    color: white !important;
    background-color: black !important;
    border-radius: 50% !important;
    height: 25px !important;
}



.remove-spotlight {
    /* color: white !important;
    background-color: black !important;
    border-radius: 50% !important;
    height: 25px !important; */
    cursor: pointer;
    margin-right: 10px;
}



.remove-annotate {
    color: white !important;
    background-color: black !important;
    border-radius: 50% !important;
    height: 25px !important;
    cursor: pointer;
}
 
.spotannotate{
    display: flex;
    position: absolute;
    right: 10%;
    top: 10%;
}

.custom-multi-app-page .screen-open #self-view ,
.custom-multi-app-page .screen-open #self-view video {
    border-radius: 10px;
}

#s_self-view {
    position: absolute;
    right: 10%;
    top: 10%;
}

.video-inner-copy {
    height: initial !important;
    width: initial !important;
    min-width: initial !important;
    min-height: initial !important;
}

.video-inner-copy video {
    height: initial !important;
    width: initial !important;
    display: block;
    margin: 0 auto;
}

.video-inner-copy canvas {
    height: initial !important;
    width: initial !important;
    display: block;
    margin: 0 auto;
}

.video-caption {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 20px;
    color: white;
}

.video-item {
    position: relative;
}

.video-caption svg {
    margin: 0 5px;
}

.custom-multi-app-page .screen-open .room-name {
    left: 110px;
}

.custom-multi-app-page .screen-open .recording-blink {
    right: 120px !important;
}

.custom-multi-app-page .screen-open .video-area .video-item .video-caption {
    right: 4px;
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #fff;
    padding: 1px 10px;
    font-size: 13px;
    /* right: 10px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-multi-app-page .spotlight-open .video-area .video-item .video-caption svg {
    margin: 0;
}

.custom-multi-app-page .screen-open .video-area .video-item .spotlight svg ,
.custom-multi-app-page .screen-open .video-area .video-item .annotate svg 
{
    height: 15px;
    width: 15px;
    color: black !important;
    background-color: white !important;
    border-radius: 50% !important;
    /* height: 25px !important; */
}

.custom-multi-app-page .screen-open .video-area .video-item .remove-spotlight svg ,
.custom-multi-app-page .spotlight-open .video-area .video-item .remove-annotate svg {
    height: 15px;
    width: 15px;
    color: white !important;
    background-color: black !important;
    border-radius: 50% !important;
}


.custom-multi-app-page .screen-open .video-area .video-item .spotannotate {
    display: flex;
    position: absolute;
    right: 0%;
    top: 3%;
}

.custom-multi-app-page .spotlight-open .video-area .video-item .spotlight svg ,
.custom-multi-app-page .screen-open .video-area .video-item .annotate svg
{
    height: 15px;
    width: 15px;
    color: black !important;
    background-color: white !important;
    border-radius: 50% !important;
    /* height: 25px !important; */
}

.custom-multi-app-page .spotlight-open .screen-inner .video-item .spotannotate .annotate svg{
    height: 25px;
    width: 25px;
    color: black !important;
    background-color: white !important;
    border-radius: 50% !important;
}

.custom-multi-app-page .screen-open .video-area .video-item .video-caption p {
    font-size: xx-small;
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
    height: 30px;
    cursor: pointer;
}

.close-icon span {
    width: calc(100% - 10px);
    height: 2px;
    background: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
}

.close-icon span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.invite-btn {
    /* position: absolute;
    right: 30px; */
}

#player_102 video {
    object-fit: fill !important;
}

/*media queries*/

@media (max-width: 991px) {
    .custom-multi-app-page .video-area {
        padding: 50px 30px 100px;
    }

    .custom-multi-app-page .video-area .video-item .video-inner {
        padding-bottom: 23vh;
    }

    .custom-multi-app-page .custom-app-wrapper .top-section {
        padding: 20px 0;
    }
}

@media (max-width: 800px) {
    .custom-multi-app-page .left-icons-tools {
        max-width: 90%;
        margin-left: 0;
        margin: 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 14px;
        padding: 10px 0;
        height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: padding 0.1s ease;
        -o-transition: padding 0.1s ease;
        transition: padding 0.1s ease;
    }

    .custom-multi-app-page .video-area .video-item {
        width: 50%;
    }

    .custom-multi-app-page .custom-multi-app-page .custom-app-wrapper {
        padding: 57px 40px;
    }

    .custom-multi-app-page .recording-tools ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .custom-multi-app-page .recording-tools ul li {
        margin: 0 3px;
        margin-bottom: 5px;
    }

    .custom-multi-app-page .recording-tools ul li a,
    .call-disconnect a {
        padding: 10px 7px;
    }

    .custom-multi-app-page .recording-tools ul li a svg,
    .call-disconnect a svg {
        height: 18px;
        width: auto;
    }

    .custom-multi-app-page .video-area {
        padding: 20px 20px 80px;
    }

    .custom-multi-app-page .custom-app-wrapper {
        padding: 57px 20px;
    }

    .custom-multi-app-page .recording-tools ul li.menu-icon {
        display: block;
    }

    .custom-multi-app-page .menu-open .left-icons-tools svg {
        height: 18px;
        width: auto;
    }


    .custom-multi-app-page .custom-app-wrapper .top-section {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .custom-multi-app-page .left-icons-tools ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .custom-multi-app-page .left-icons-tools ul li {
        padding: 0;
    }

    .custom-multi-app-page .left-icons-tools ul li a svg {
        height: 20px;
    }

    .custom-multi-app-page .menu-open .left-icons-tools {
        margin: 0 auto;
        margin-top: 14px;
        padding: 10px 0;
        height: auto;
    }

    .custom-multi-app-page .chat-area {
        width: 85% !important;
        margin: 0 auto !important;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .custom-multi-app-page .chat-typing-area .message-box {
        max-width: 90%;
    }

    .custom-multi-app-page .chat-bar-open .chat-area {
        opacity: 1;
        visibility: visible;
        height: auto;
        -webkit-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        transition: 0.1s ease;
    }

    .custom-multi-app-page .video-area .video-item .video-caption {
        right: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 80%;
        left: 0;
        margin: 0 auto;
        padding-bottom: 5px;
    }

    .custom-multi-app-page .video-area .video-item .video-caption p {
        width: 100%;
        display: block;
    }

    .custom-multi-app-page .video-area .row-fluid:hover .call-disconnect {
        opacity: 1;
        visibility: visible;
    }

    .custom-multi-app-page .recording-tools ul li.call-disconnect {
        display: none;
    }

    .custom-multi-app-page .screen-open .video-area {
        width: 20%;
        margin-right: 0;
    }

    .custom-multi-app-page .screen-open .left-icons-tools {
        flex-wrap: initial;
        display: flex;
    }

    .custom-multi-app-page .custom-app-wrapper.screen-open .top-section {
        padding-right: 20px;
    }

    .custom-multi-app-page .custom-app-wrapper.screen-open .top-section {
        padding-right: 0;
        padding-bottom: 70px;
    }

    .custom-multi-app-page .screen-open .video-area {
        width: 100%;
        height: auto;
        max-height: initial;
        max-width: 100%;
        margin: 0;
    }

    .screen-open .screen-area {
        width: 100%;
        padding-top: 0;
    }

    .custom-multi-app-page .screen-open .video-area .video-item {
        width: 28% !important;
        margin: 0 0 10px;
    }

    .custom-multi-app-page .screen-open .participants-area ,
    .custom-multi-app-page .screen-open .settings-area 
    {
        height: auto;
    }

    .screen-open .call-disconnect {
        display: none;
    }

    /* .screen-open .screen-area .screen-inner {
        padding-bottom: 49vh;
    } */

    .custom-multi-app-page .screen-open .video-area .row-fluid {
        justify-content: space-around;
    }

    .custom-multi-app-page .video-area .video-item .video-caption {
        padding: 0 2px 2px;
        bottom: 5px;
    }

    .custom-multi-app-page .video-area .video-item .video-caption p {
        font-size: 12px;
    }

    .custom-multi-app-page .video-area .video-item .video-caption svg {
        height: 11px;
    }

    .custom-multi-app-page .participants-area ,
    .custom-multi-app-page .settings-area 
    {
        width: 85% !important;
        margin: 0 auto !important;
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .participant-open .participants-area ,
    .settings-open .settings-area 
    {
        opacity: 1;
        visibility: visible;
        height: auto;
        -webkit-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        transition: 0.1s ease;
    }

    .left-icons-tools .tools-inner {
        width: 100%;
    }

    .custom-multi-app-page .video-area .row-fluid.custom1 .video-item,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom2 .video-item,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom3 .video-item,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom4 .video-item,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom5 .video-item,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom6 .video-item {
        width: 50% !important;
    }

    .custom-multi-app-page .video-area .row-fluid.custom1 .video-item .video-inner,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom2 .video-item .video-inner,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom3 .video-item .video-inner,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom4 .video-item .video-inner,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom5 .video-item .video-inner,
    .custom-multi-app-page .video-area .row-fluid.custom1.custom6 .video-item .video-inner {
        padding: 11vh !important;
    }

    .custom-multi-app-page .room-name {
        position: static;
        padding-bottom: 10px;
    }

    .custom-multi-app-page .room-name {
        padding-left: 20px;
    }
    
    .screen-open.spotlight-open .screen-area .screen-inner {
        padding-bottom: 0;
    }
    
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1 .video-item, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom2 .video-item,
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom3 .video-item, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom4 .video-item, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom5 .video-item, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom6 .video-item {
        width: auto !important;
    }
    
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1 .video-item .video-inner, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom2 .video-item .video-inner, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom3 .video-item .video-inner, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom4 .video-item .video-inner, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom5 .video-item .video-inner, 
    .custom-multi-app-page .screen-open.spotlight-open .video-area .row-fluid.custom1.custom6 .video-item .video-inner {
        padding: 0 !important;
    }
}

@media (max-width: 400px) {
    .screen-open.spotlight-open .video-inner-copy video {
        width:200px !important;
        height: auto !important;
    }
}